[Unit]
Description=Identity Hiding SUPL Proxy
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/bin/supl-proxy.py
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target

